<h1>Pictures</h1>
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
<p><%= picture.title %>, <%= picture.artist %></p>
<img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>

<p>Number of pictures total: <%= @pictures.count %></p>

#------------------------------------------------------------

<% @old_pictures.each do |picture| %>
<p><%= picture.title %>, <%= picture.artist %></p>
<img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>

<p>Number of pictures older than 3 months: <%= @old_pictures.count %></p>

#------------------------------------------------------------

<% @pictures_by_year.each do |picture| %>
<p><%= picture.title %>, <%= picture.artist %></p>
<img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>

<p>Number of pictures by year: <%= @pictures_by_year.count %></p>
